<plugins>


    <pyqgis_plugin name="QP Checker" version="0.2.1">
        <version>0.2.1</version>
        <description>QP Checker is a QGIS plugin that allows users to streamline layer management by renaming, applying styles, and arranging base layers in a QGIS project. It includes functionality for selecting QML and QGS files, applying QML styles to specific layers, and organizing base layers in a specified order.</description>
        <about>QP Checker is a QGIS plugin that allows users to streamline layer management by renaming, applying styles, and arranging base layers in a QGIS project. It includes functionality for selecting QML and QGS files, applying QML styles to specific layers, and organizing base layers in a specified order.</about>
        <author_name>Philippine Statistics Authority | GMD</author_name>
        <qgis_minimum_version>3.0</qgis_minimum_version>
        <homepage>https://raw.githubusercontent.com/kentemman-gmd/Plugin_OnDev/refs/heads/main/plugins/qp_checker.zip</homepage>
        <download_url>
            https://raw.githubusercontent.com/kentemman-gmd/Plugin_OnDev/refs/heads/main/plugins/qp_checker.zip</download_url>
        <icon>
            https://raw.githubusercontent.com/kentemman-gmd/Plugin_OnDev/refs/heads/main/icon/qp_checker.png</icon>
        <file_name>qp_checker.zip</file_name>
    </pyqgis_plugin>
    


</plugins>